@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Spectral');

@import url('https://fonts.googleapis.com/css?family=Nunito|Source+Sans+Pro');


body{

  /*font-family: 'Source Sans Pro', sans-serif;*/

  font-family: 'Nunito', sans-serif;

  /*font-family: 'Montserrat', sans-serif;*/
  display:-webkit-box; /*old prefixed for webkit*/
  display:-moz-box; /*old prefixed for mozilla*/
  display:-ms-flexbox; /*inbetween prefixed for ie*/
  display:-webkit-flex; /*new prefixed for webkit*/
  display:flex; /*new*/
  flex-direction: column;
}


.logo, h1, h2, h3, h4, .nav{
  font-family: 'Spectral', serif;
}

h4{
  margin-bottom: 10px;
}

p{
  font-size: 0.9em;
  letter-spacing: 0.5px;
}

h1{
  color: white;
}

button{
  color: white;
  border: none;
  background-color: #87917E;
  padding: 10px 20px;
  margin-top: 15px;
}

header{
    /*background-color: #EBC0F2;*/
    background-image: url("../images/deep-forest.jpg");
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

.nav{
  background-color: white;
  display: flex;
  font-size: 0.9em;
  padding: 20px;
  flex-direction: row;
  justify-content: space-between;
}

.logo{
  align-items: flex-start;
  font-size: 24px;
}

.nav ul{
  margin-top: 4px;
  display: flex;
  flex-direction: row;
}

.nav ul li{
  margin-right: 10px;
}

.intro{
  flex:1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.main-title{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-title h1{
  text-align: center;
  max-width: 700px;
}

.main-title button{
  padding:10px 20px;
}

testimonial{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 0;
}

testimonial .star-icon{
  display: flex;
  flex-direction: row;
  align-items: center;
}

  testimonial .star-icon li{
    margin-right: 5px;
  }

testimonial p{
  width: 70%;
}

strength{
  background-image: url("../images/food.jpg");
  display: flex;
  background-size: cover;
  background-color: #CEEBF2;
  padding: 50px 40px;

  /*parallex*/
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;

}

example{
  background-image: url("../images/village.jpg");
  background-size: cover;
  display: flex;
  flex-direction: row-reverse;
  background-color: #F2ECC4;
  padding: 50px 40px;
}

.box{
  flex: 1;
  background-color: white;
  padding: 40px;
}

.boxTwo{
  flex: 1;
}

plans{
  background-color: #F1F0EC;
  padding: 30px;
}

.boxes{
  display: flex;
  flex-flow: row wrap;
}

plans .planBox{
  background-color: white;
  margin: 10px;
  padding: 20px 40px 40px;
  flex: 1 250px;
}

features{
  background-color: white;
  padding: 20px;
}

features h2{
  padding-left: 20px;
}

.section-one{
  padding: 20px;
  display: flex;
  flex-flow:wrap
}

.one-text{
  flex: 2 150px;
}


/*.section-two{
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
}*/

.section-two{
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
}


.featBox{
  /*width: 260px;*/
  flex:1 260px;
  padding: 20px;
  margin: 40px 0;
}

.featBox-cool img{
  height: 160px;
  margin-bottom: 20px;
}

.featBox-cool img{
  display: block;
  width: 100%;
  height: 100%;
  height: auto;
}


footer{
  color: white;
  padding: 30px;
  background-color: #87917E;
}

.footer-menu{
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 60px;
}

.footer-menu p, .footer-menu ul li{
  font-size: 0.8em;
  line-height: 1.6em;
}

.social-links ul{
  display: flex;
  flex-direction: row;
  align-items:center;
}

.social-links ul li{
  margin-right: 26px;
}

.footer-cat{
  margin-right: 60px;
  margin-bottom: 20px;
}

.footer-copyright{
  display: flex;
  flex-direction: row;
}

.footer-copyright ul{
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.footer-copyright ul li{
  margin-right: 10px;
}
